/* PARENT CONTAINER */
.projectCardContainer {
    max-height: none; /*content ditated the height*/
    padding: 0;
    overflow-y:visable;
}

.projectCardContentWrapper {
    position: relative;
    height:0;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    border-radius: 25px; /* Match the card's border radius */   
    overflow: hidden;
}
.projectCardTitle {
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .7); /* Improved readability */  
    /* color:white; */
    padding: 20px 12px;
    z-index:10;
    background-color: var(--overlay-dark, rgba(0, 0, 0, .6)); /* Used protocol variables */
    color: var(--text-color-light, white); /* Used protocol variables */
    border-radius: 8px;
    width: 80%; /* Ensure it doesn't spill over card edges */-color: rgb(0, 0, 0, .4);
}

.projectCardImg {
    position :absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    object-fit:cover; /* Ensure the image covers the area without distortion */
    border-radius: 25px; /* Match the card's border radius */
    z-index: 1; /* Ensure the image is behind the text */
    transition: transform 0.3s ease; /* Smooth zoom effect */
}

.projectCardInfo {
    position:absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color:var(--overlay-dark, rgba(0, 0, 0, .6));
    color:var(--text-color-light, white);
    font-size: 1.1em;
    border: solid var(--border-color-light,silver) 1px;   
    padding-bottom: 2rem;
    border-radius: 8px;
    width: 90%; /* Ensure it doesn't spill over card edges */
    box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}
/* end *//* Use a Media Query for larger screens (e.g., tablets and desktops) */
@media (min-width: 768px) {
    
    .projectCardTitle {
        font-size: 2em; /* Increase font size for larger screens */
    }
    .projectCardInfo {
        font-size: 1.5em; /* Slightly larger text for better readability */
    }

}
/*===== Styles for laptops=====*/

