.videobgWrapper {
    width: 100%;
    height: 100%;
    overflow:hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 0; /* Place behind other content */
}

.waterVideo { /* This style should be in Video.module.css */
    object-fit: cover;
    border-radius: 25px;
}