.contactform {
    border: solid 1px white; 
    margin : 0 auto; 
    width: 250px;
    text-align: center;
} 
.contactInput { 
   margin: 10px;
   text-align: center;
   width: 80%;
   display: inline-block;  
}
.button {
margin-bottom: 10px;
}
