.hero-content {
    border-radius: 25px;
    position: absolute;
    top: 120px;
    left: 70px;
    box-shadow: 0 4px 50px #0ee1ac;
    text-align: center;
    /* border: 10px solid purple; */
    width:78%;
    height:600px;
    /* margin: 0 auto; */
    z-index:100;
    /* object-fit: cover;   */
    /* overflow: hidden; */
}

.circle-img {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 18em;
    height: 20em;
    margin: 30px auto;
    /* margin-top: 40px;
    margin-bottom:0px; */
    position : relative;
    top:70px;
    left:10px;
}

.name {
    margin: 0 auto;
    position: relative;
    top: -370px;
    left: -30px;
    font-size: 3em;
    margin: 0px 0px 0px 60px;
    padding: 10px 20px;
    /* border: solid yellow 1px; */
}
.HeroBlurb {
    position: relative;  
    left: -30px;
    top: -50px;
    font-size: 1em;
    margin: 0 20px 100px 60px;
    padding: 20px 50px;
}
/* .heroInfo{
    color:green;
} */
.videobg-wrapper {
    border-radius:25%;
}

.Watervideo {
    position: absolute;
    top: 120px;
    left: 70px;
    height: 600px;
    width: 78%;
    margin: 0;
    padding: 0;
    object-fit: cover;  
    border-radius: 25px;
    overflow: hidden;
    z-index: 2;

}
/*========hero ends========= */