
.projectcardContainer {
    max-width: 80%;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 10px #0ee1ac;
    margin: 10px auto 50px;

    position:relative;
       
}
.projectcardItemTitle {
    position: relative;
    top: 0%;
    left: 50%;
    transform:translate(-50%, 50%);
    color: white;
    padding: 20px 12px;
    background-color: rgb(0, 0, 0, .4);
   
}

.projectcardItem {
    position: relative;
    margin: 0  auto;
    width: 100%;
    text-align : center;
    padding-bottom: 50px;

}

.projectcardItem img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 25px;
}


.projectcardItemInfo {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, .4);
    color: rgb(248, 242, 242);
    font-size: 1.1em;
    border: solid silver 4px;   
}