
    .socialContainer  {
        display: border-box;
        margin: 0 auto;
        text-align: center;
        border: 2px solid blue;
        width: 100%;
    }
    .socialContainer h3 {
        text-align: center;
        padding: 25px 50px;
        color:yellow;
    }
    .socialContainer a {
        display: flex;
        justify-content: space-evenly;
        direction: row;
        transition: transform 250ms;
    }

    a.social:hover {
        transform: translateY(-2px);
        color: green;
    }

  
    