.videobg-wrapper {
    margin: 0;
    padding: 0;
    /* position: static; */
}
.Watervideo {
    position: relative;
    top: 10 px;
    left: -41px;
    height: 497px;
    width: 1000px;
    margin: 0;
    padding: 0;
    object-fit: cover;  
    border-radius: 25px;
    overflow: hidden;
    z-index: 2;
} 