.videobg-wrapper {
    margin: 0;
    padding: 0;
}

.watervideo { /* This style should be in Video.module.css */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Place video behind other content */
    border-radius: 25px;
}