body {
  margin: 0 50px;
  padding: 0;
  background-color: black;
}

.prime {
  color: gold;
}

.App {
  text-align: center;
  color: gold;
}

.logo {
  color: blue;
  font-style: italic;
  font-weight: 1;
}

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  border: solid 1px yellow;
  float: right;
}

li a {
  padding: 20px;
}

.banner {
  font-size: 20px;
  position: relative;
  top: 50px;
  padding: 60px;
  border: solid 2px blue;
}
img{
  position:absolute;
  left:0px;
  top:0px;
  height:70px;
  float:left;
}