.container {
   /* Flexbox is used for vertical stacking */
  display: flex;
  flex-direction: column;
  gap: 5rem;
  /* this ensures the content is centered and contained */
  width: 90%; 
  max-width: 1400px; 
  margin: 0 auto; 
  padding: 2rem 0; /* Add vertical padding so components aren't touching page edges */
}

/* Add styles for the dark mode toggle button */
.darkModeToggle {
    position: fixed; /* Positions the button relative to the viewport */
    top: 20px; /* Positions it 20px from the top */
    right: 20px; /* Positions it 20px from the right */
    z-index: 1000; /* Ensures the button is on top of other content */
     background-color: var(--background-color);/*global colors */
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Optional: Add hover styles for better user experience */
.darkModeToggle:hover {
  filter: brightness(1.2);
}

/*===== Styles for tablets===== */
@media (min-width: 768px) {
    .container {
        padding: 20px;
    }
}

/*===== Styles for laptops=====*/
@media (min-width: 922px) {
    .container {
    justify-content: center;
     /* Ensures no unwanted width constraints are carried over from base styles */
    max-width: 1400px; /* Allow wide display */
    margin: 0 auto;
    }
    .projectCardGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px; /* Space between cards */
    }
}