.container {
    width: 100vw;
    height: 100vh;
    position: relative; 
}
/*===== Styles for tablets===== */
@media (min-width: 768px) {
    .container {
        padding: 20px; /* Adjust padding for tablets */
        /* Add any other tablet-specific styles for .container here */
    }
}

/*===== Styles for laptops=====*/
@media (min-width: 1024px) {
    .container {
        padding: 30px; /* Adjust padding for laptops */
        max-width: 1200px; /* Example: add a max-width on larger screens */
        margin: 0 auto; /* Example: center the container if it has a max-width */
        /* Add any other laptop-specific styles for .container here */
    }
}