Global styles only is this file
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;/*Prevents horizontal scroll */
  background:black;/*Global background */
  color: white;/*Global base text color */
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; /*font stack */   
  font-size: 1rem;
}
body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;/*Global smoothing */
  -moz-osx-font-smoothing: grayscale;/*Global smoothing */
  line-height: 1.2;
}
/*Global element selectors*/

h1 {
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: 1rem;
}
p {
    margin-bottom: 1rem;
}

code {/*Global code font */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bm-burger-bars {
  display: block; /* Make sure bars are block-level elements */
  height: 4px; /* Adjust height of bars */
  background-color: rgb(250, 248, 248); /* Color of bars */
  border-radius: 2px; /* Optional: round the corners of the bars */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.bm-burger-bars-hover {
  background: rgb(0, 255, 8);
}
