:root {
    color: white;
    font-family: 'serif', Times, serif;
    background-color: rgb(7, 8, 8);
    
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    width: 1240px;
    
}

/* css for mobile sizing begins */
@media only screen and (min-width:300px) {

    .hero-content {
        border-radius: 25px;
        position: relative;
        top: 0px;
        left: 0px;
        box-shadow: 0 4px 100px #0ee1ac;
        text-align: center;
        border: 3px solid purple;
    }

    .circle-img {
        border-radius: 50%;
        border: 1px solid #fff;
        width: 300px;
        height: 300px;
        margin: 40px auto;
        position : relative;
        top: 100px;
    }

    .name {
        margin: 0 auto;
        position: absolute;
        top: 30px;
        font-size: 6em;
        margin: 10% 20px 0px 60px;
        padding: 10px 20px;
        /* border: solid yellow 1px; */
    }

    .Herobottom {
        position: relative;
        left: -20px;
        font-size: 1.7em;
        margin: 10% 20px 0px 60px;
        padding: 10px 50px;
    }
    /*hero ends */
/*about begins*/
    .Aboutblurb {
        box-shadow: 0 2px 30px #ccc;
        width: 85%;
        margin: 140px auto;
        border-radius: 25px;
        
        padding: 35px 25px;
        text-align: center;  
    }
    .blurb {
        font-size: 20px;
    }
/*blurb finishes*/
    
    .projectcard {
        margin: 0 auto;
        width: 80%;
        
    }

    .content {
        position: relative;
        margin: 0  auto;
        width: 100%;
        text-align : center;

    }

.projectPicture {
        position: relative;
        width: 100%;
    }

.project-title {
        position: absolute;
        top: 0%;
        left: 5%;
        color: white;
        margin: 10px 0;
        padding: 0 12px;
        
        background-color: rgb(0, 0, 0, .4);
    }
    .project-info {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(0, 0, 0, .4);
        color: rgb(248, 242, 242);
        font-size: 1.1em;
        border: solid silver 4px;   
    }
 
    .contactform {
        /* border: solid 1px white; */
        padding-bottom: 60px; 
    }
    .contactform h3 {
        text-align: center;
        font-size: 30px;
    }
    
    .contactInput {
        margin: 10px;
        text-align: center;
        width: 100%;
        display: inline-block;  
    }

    .social-container {
        background: black;
        padding: 25px 50px;
    }

    a.social {
        margin: 0 auto;
        transition: transform 250ms;
        display: inline-block;
        padding: 0px 20px;
    }

    a.social:hover {
        transform: translateY(-2px);
        color: green;
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: red;
        text-align: center;
    }
}

/* css for mobile sizing ends */

@media only screen and (min-width: 768px) {

    .Herocard {
        margin-top :10%;
        
        padding: 150px;
    }

    .name {
        font-size: 4.5em;
        margin: 15%  0;
        left: 0%;
    }
    .circle-img {
        border-radius: 50%;
        border: 7px solid #fff;
        width: 295px;
        height: 375px;
        position: absolute;
        right: 40px;
        top: 20px;
    }
    .Herobottom {
        margin: 10%  0;
        left: -40%;
        text-align: left;
    }
    .Aboutblurb {
        border-radius: 25px;
        position: relative;
        top: 40px;
        margin: 60px;
        padding: 3px 25px;
        box-shadow: 0 2px 30px #ccc;
        text-align: left;
    }


    .contactform {
        /* border: solid 1px white; */
        padding-bottom: 60px; 
    }
    .contactform h3 {
        text-align: center;
        font-size: 30px;
    }
    
    .contactInput { 
        margin: 10px;
        text-align: center;
        width: 100%;
        display: inline-block;  
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        text-align: center;
    }
}











@media only screen and (min-width:1024px) {

    .section {
        border:rgb(11, 84, 231) 3px solid;
        position: relative;
        top: 100px;
        left: 0px;
        margin: 0;
        padding : 0;
        border-radius: 25px;
        height: 800px;
        margin-bottom: 30px;
        
        
        /* background: url(components/videobg.mp4); */   
    }
    .Herocard {
        border: 3px rgb(237, 131, 16) solid;
        position: relative;
        top: -125px;
        left: 0px;
        height: 700px;
        
        
        
    }
    .hero-content {
            position: static;
            top: 200px;
            left:0;
            border: red 2px solid;
            height: 500px;
            

    }
    .circle-img {
            border-radius: 50%;
            border: 7px solid #d51919;
            width: 18em;
            height: 25em;
            position:relative;
            left: 190px;
            top: 0px;
    }
    .name {
        /* border: 3px rgb(222, 48, 208) solid; */
        position:relative;
        top: -550px;
        left: 70px;
        text-align: left;
    }
    .hero-blurb {
        /* border: 3px rgb(100, 222, 48) solid; */
        position:relative;
        top: -700px;
        left: 85px;
        text-align: left;
    }
    .HeroInfo {
        /* border: 3px rgb(80, 74, 79) solid; */
        position: relative;
        top: 10px;
        left: 0px;
    }
    .videobg-wrapper {
        margin: 0;
        padding: 0;
        position: static;
        /* top: 1000px;
        left: 100px; */
        /* border: orange 3px solid; */
      
        
   
    }
    .Watervideo {
        position: absolute;
        /* top: 0px;
        left: 0px; */
        margin: 0;
        padding: 0;
        object-fit: cover;  
        border-radius: 25px;

    }


    /* Hero finishes */
    .wrapper {
        margin: 0;
        padding: 0;
        
    }
    .Aboutblurb {
        border-radius: 25px;
        position: relative;
        top: -10px;
        left:2%;
        padding-bottom: 30px;
        box-shadow: 0 2px 30px #ccc;
        text-align: left;
        font-size: 2em;
    }
    .blurb {
        font-size: 1em;
    }
    /* about finishes */
    /* project section begins */
    

    .grid-container {
        display: inline-flex;
        flex-wrap: wrap;
        width: 49%;
        justify-content: center;
        /* border: solid 3px red; */
        margin-top: 130px;
        gap: 20px;
        
    }
    .projectcard {
        display: flex;
        width: 86%;
        padding :1em;
        margin: 0 0 1em 0;
        box-shadow: 0 2px 30px #d0cdcd;
        /* border: green 1px solid; */

    }
    .content {
        display:flex;
        margin: auto;
        /* border: rgb(127, 131, 239) 3px solid; */
        padding: 0px;
    }
    .projectcard .picture {
        object-fit: cover;
        margin: 0.5em 0;
    }

    .projectcard .title {
        position: relative;
        top: 25%;
        left: 30%;
        color: blue;
    }

    .projectcard .info {
        position: relative;
        text-align: center;
        margin: auto;
    }
    /* projectcard finishes */
    .contactform {
        margin: 20px;
        padding: 20px;
    }
    .contactform h3 {
        font-size: 4em;
    }
    .contactInput input {
        font-size: 1.5em;
    }
    .social-container {
        font-size: 2em;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: prime;
        text-align: center;
    }

    .social-container {
        position: relative;
        width: 100%;
        text-align: center;
        background: black;
        padding: 0;
        /* border: yellow 2px solid; */
    }

    .fade-in-image {
        text-align: center;
    }

    a.social {
        margin: 0 auto;
        transition: transform 250ms;
        display: inline-block;
        padding: 0px 20px;
    }

    .dynocopy {
        text-align: center;
    }

}